.header { /*ヘッダー全体のスタイル*/
    position: absolute;
    padding: 16px 24px 8px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

}
.logoLink { /*画像を含むヘッダーのリンク部分*/
    display: flex;
}
.logo { /*ヘッダーのロゴ画像の部分*/
    height: 24px;
    width: auto;
}
@media (max-width: 640px) {
    .header { /*ヘッダー全体のスタイル*/
        padding: 24px 16px 8px;
    }
}