.container { /*NotFoundページのタイトルとその説明文を束ねる塊の部分*/
    position: relative;
    width: 840px;
    margin: -40px auto 0;
    padding: 160px 80px;
    border-radius: var(--border-radius);
}
.title { /*タイトル部分*/
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    font-family: 'system-ui', "Segoe UI", Roboto, Arial, Helvetica, sans-serif;
    margin-bottom: 24px;
}
.text { /*説明文の部分*/
    font-size: 1rem;
    text-align: center;
}