.top {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0,0.5);
  color: #fff;
  overflow: hidden;
  padding: 200px 0;
}
.title {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
}

.description {
  text-align: center;
}
.bgimg {
  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
  /*height: 600px;*/
  object-fit: cover;
  object-position: right;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
}
.news { /*Newsのリストの部分の全体をつかさどるsection部分*/
  position: relative;
  background-color: #fff;
  width: 840px;
  margin: -40px auto 0;
  padding: 24px 40px;
  border-radius: var(--border-radius);
}
@media (max-width: 1000px) {
  .news {
    width: calc(100% - 160px);
  }
}

.newsTitle { /*Newsのリストがこれから続くよ、という全体の見出しのh2の部分*/
  font-size: 1.5rem;
}
.newsLink {
  position: absolute;
  right: -40px;
  bottom: -40px;
}

@media (max-width: 640px) {
  .top {
    padding: 120px 16px;
  }
  .title {
    font-size: 2rem;
    text-align: left;
  }
  .description {
    text-align: center;
    font-size: 0.9rem;
    text-align: left;
  }
  .bgimg {
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
  }
  .news {
    width: calc(100% - 32px);
    padding: 16px 24px;
  }
  .newsLink {
    position: relative;
    right: auto;
    bottom: auto;
    margin-top: 16px;
  }

}
