.form { /*問い合わせフォーム全体のレイアウト*/
  max-width: 600px;
  margin: 0 auto;
}

.item { /*フォーム名と入力フォーム２つのレイアウト担当*/
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 8px 0;
}

.horizontal { /*姓と名２つの入力フォームのレイアウト担当*/
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 24px;
}

.label { /*入力フォーム名のスタイル*/
  font-size: 14px;
}

.textfield { /*入力フォームのスタイル*/
  border: 1px solid var(--color-border);
  padding: 8px;
  border-radius: 4px;
  line-height: 1.5;
  width: 100%;
}

.textarea { /*メッセージの入力フォームのスタイル*/
  border: 1px solid var(--color-border);
  padding: 8px;
  border-radius: 4px;
  line-height: 1.5;
  width: 100%;
}

.actions { /*送信ボタンのレイアウト担当*/
  text-align: center;
  margin-top: 40px;
}

.button { /*送信ボタンのスタイル*/
  border: none;
  background-color: var(--color-button-primary);
  padding: 16px 40px;
  font-size: 16px;
  border-radius: 4px;
  color: var(--color-text-unpainted);
  cursor: pointer;
}

.success {
  background-color: var(--color-bg-sub);
  text-align: center;
  padding: 40px;
  border-radius: var(--border-radius);
}

.error {
  color: var(--color-text-error);
  font-size: 14px;
  margin-bottom: 8px;
}

@media (max-width: 640px) {
  .success {
    text-align: left;
  }
}